.example-card {
    max-width: 500px;
    margin: 100px auto;
  }
  
  .example-header-image {
    background-image: url('C:\Users\NAOR\yadelyadApp\image\yad_el_yad_logo.png');
    background-size: cover;
  }
  p {
    font-family: "Times New Roman", Times, serif;
   font-size:200%;
   direction: rtl; 
  }
  p.test1{
    font-family: "Times New Roman", Times, serif;
    font-size: 130%; 

  }
  mat-card-title{
    text-align: center;
  }
  
  section{
    align-items: center;
    justify-content: center;
  }