<div style="padding:50px;">
  <h1 style="color: rgb(255, 166, 0)">עזרה לניהול עמותה</h1>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon style="color: rgb(255, 30, 0)">view_headline</mat-icon>Menu
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <a routerLink="home-page" class=mat-raised-button color="primary" role="button" routerLinkActive="active">Home
        page</a>
    </button>
    <button mat-menu-item>

      <mat-icon>person_add</mat-icon>
      <a routerLink="profile" class=mat-raised-button color="primary" role="button"
        routerLinkActive="active">Profile</a>
    </button>

    <button mat-menu-item [matMenuTriggerFor]="secondLevel">
      <mat-icon>account_box</mat-icon>
      <a routerLink="delivery" class=mat-raised-button color="primary" role="button"
        routerLinkActive="active">שליח</a>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="secondLevel2">
      <mat-icon>child_care</mat-icon>
      <a routerLink="getting" class=mat-raised-button color="primary" role="button"
        routerLinkActive="active">לקוח</a>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="secondLevel3">
      <mat-icon>account_box</mat-icon>
      <a routerLink="company" class=mat-raised-button color="primary" role="button"
        routerLinkActive="active">עמותה</a>
    </button>



    <button mat-menu-item>
      <mat-icon>חיפוש</mat-icon>

      <a routerLink="findByFirstName" class=mat-raised-button color="primary" role="button"
        routerLinkActive="active">חיפוש שליח</a>
    </button>
    <router-outlet></router-outlet>
    <app-home-page></app-home-page>
  </mat-menu>

  <router-outlet></router-outlet>
</div>


<mat-menu #secondLevel="matMenu">
  <button mat-menu-item>
    <mat-icon>account_box</mat-icon>
    <a routerLink="list-delivery" class=mat-raised-button color="primary" role="button"
      routerLinkActive="active">רשימת מחלקים</a>
  </button>
  <button mat-menu-item>
    <mat-icon>person_add</mat-icon>

    <a routerLink="addDelivery" class=mat-raised-button color="primary" role="button" routerLinkActive="active">
      הוספת שליח</a>
  </button>
  <mat-menu #secondLevel2="matMenu">
    <button mat-menu-item>
      <mat-icon>child_care</mat-icon>
      <a routerLink="list-getting" class=mat-raised-button color="primary" role="button" routerLinkActive="active">
       רשימת מקבלים</a>
    </button>
    <button mat-menu-item>
      <mat-icon>person_add</mat-icon>

      <a routerLink="addGetting" class=mat-raised-button color="primary" role="button" routerLinkActive="active">
        הוספת לקוח
      </a>
    </button>

    <mat-menu #secondLevel3="matMenu">
      <button mat-menu-item>
        <mat-icon>house</mat-icon>
        <a routerLink="addCompany" class=mat-raised-button color="primary" role="button"
          routerLinkActive="active">הוספת עמותה</a>
      </button>

      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <a routerLink="list-company" class=mat-raised-button color="primary" role="button"
          routerLinkActive="active">רשימת עמותות</a>
      </button>

    </mat-menu>
  </mat-menu>

</mat-menu>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="20%" *ngFor="let i of [1]">
    <mat-card>
      <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
    </mat-card>
  </div>
</div>