<h3>הוספת שליח</h3>

<input matInput placeholder="שם " [(ngModel)]="getting.firstName" > 
<input matInput placeholder="שם משפחה" [(ngModel)]="getting.lastName" > 
<br>
<br>
<input matInput placeholder="ת.ז " [(ngModel)]="getting.gettingId" > 
<br>
<input matInput placeholder="טלפון " [(ngModel)]="getting.phoneNumber" > 
<br>
<input matInput placeholder="Email " [(ngModel)]="getting.emailAdrress" >


<br>
  <br>
  <label for="start">תאריך:</label>

<input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2020-12-31">
<button mat-icon-button   (click)="creategetting()">
        <mat-icon>create</mat-icon>
      </button>


  <!-- <input matInput placeholder="RESULT" [(ngModel)]="gettingsResponse" >{{gettingsResponse}}  -->

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" (click)="newUser()">Add</button>
</div>
